<nav class="nav">
  <div class="nav-container">
    <a href="{{ site.baseurl }}/">
      <h2 class="nav-title">{{ site.title }}</h2>
    </a>
    <ul>
      <li><a href="{{ '/base' | prepend: site.baseurl }}">Introduction</a></li>
      <li><a href="{{ '/search' | prepend: site.baseurl }}">Search</a></li>
      <li><a href="https://salafimanhaj.github.io/wahhabis/">Wahhabism</a></li>
      <li><a href="https://instagram.com/Alsalafiyyah" target="_blank">@Alsalafiyyah</a></li>
      <li>Total: <b>{{ site.posts | size }}</b> Fatwas</li>
    </ul>
  </div>
</nav>
