<!-- Menu -->
<section id="menu">
	<!-- Search -->
	<section>
		<form class="search" action="{{ "/search/" | relative_url }}">
			<input id="tipue_search_input" type="text" name="q" placeholder="Search" pattern=".{3,}" title="At least 3 characters" required/>
		</form>
	</section>
	<!-- Links -->
	<section>
		<ul class="links">
                {% for item in site.data.sidebar_menu %}
			<li>
				<a href="{{ item.link }}">
					<h3>{{ item.name }}</h3>
				</a>
			</li>			
                {% endfor %}
		</ul>
	</section>
	<!-- Actions -->
	<section>
        {% if page.language == 'ar' %}
		<ul class="icons">
			<li>
				<a href="/">
					<span class="label">English</span>
				</a>
			</li>
			<li>
				<a href="{{ '/ar' | prepend: site.baseurl }}">
					<span class="label">{{ site.data.i18n[page.language].arabic }}</span>
				</a>
			</li>
		</ul>
        {% endif %}
		<ul class="icons">
			<li>
				<a href="https://instagram.com/Alsalafiyyah" class="fa-instagram" target="_blank">
					<span class="label">Instagram</span>
				</a>
			</li>
			<li>
				<a href="{{ '/feed' | prepend: site.baseurl }}" class="fa-rss">
					<span class="label">RSS</span>
				</a>
			</li>
			<li>
				<a href="https://soundcloud.com/alsalafiyyah" class="fab fa-soundcloud" target="_blank">
					<span class="label">Soundcloud</span>
				</a>
			</li>
		</ul>
	</section>
</section>
