---
layout: default
---

<div class="post">
  <div class="post-info">

  </div>

  <h4 class="post-title">{{ page.title }}</h4>
  <div class="post-line"></div>

  {{ content }}
  <br/><br/>
  <hr/>
  <ul>
  <li>
    {% if page.founder %}
        {{ page.founder }}
    {% else %}
     {{ site.founder.name }}
    {% endif %}
    <span>no.</span>
    {% if page.fatwa %}
        {{ page.fatwa }}
    {% else %}
     {{ site.fatwa.name }}
    {% endif %}
  </li>
  <li>
    {% if page.muftis %}
    {{ page.muftis | join: ", "}}
    {% else %}
    {{ site.muftis.name | join: ", " }}
    {% endif %}
  </li>
  <li>
  <span>Published on:</span>
    {% if page.hijri %}
        {{ page.hijri }}
    {% else %}
    {{ site.hijri.name }}
    {% endif %}
  </li>
  </ul>
</div>


<div class="share-page">
    Share on &rarr;
    <a href="https://twitter.com/intent/tweet?text={{ page.title }}&url={{ site.url }}{{ page.url }}&via={{ site.twitter_username }}&related={{ site.twitter_username }}" rel="nofollow" target="_blank" title="Share on Twitter">Twitter</a>
    <a href="https://facebook.com/sharer.php?u={{ site.url }}{{ page.url }}" rel="nofollow" target="_blank" title="Share on Facebook">Facebook</a>
    <a href="https://plus.google.com/share?url={{ site.url }}{{ page.url }}" rel="nofollow" target="_blank" title="Share on Google+">Google+</a>
    <a href="https://telegram.me/share/url?url={{ site.url }}{{ page.url }}&text={{ page.title }}" rel="nofollow" target="_blank" title="Share on Telegram">Telegram</a>
</div>


{% if page.comments %}
  {% include disqus_comments.html %}
{% endif %}

<div class="pagination">
  {% if page.next.url %}
    <a href="{{ page.next.url | prepend: site.baseurl }}" class="left arrow">&#8592;</a>
  {% endif %}
  {% if page.previous.url %}
    <a href="{{ page.previous.url | prepend: site.baseurl }}" class="right arrow">&#8594;</a>
  {% endif %}

  <a href="#" class="top">Top</a>
</div>
