---
layout: default
---

<div class="post">
  <div class="post-info">

  </div>

  <h4 class="post-title">{{ page.title }}</h4>
  <div class="post-line"></div>

  {{ content }}
  <br/>
    <span><a href="https://www.alifta.gov.sa/" target="_blank">Fatwas of the Permanent Committee</a> no.:</span>
    {% if page.fatwa %}
        {{ page.fatwa }}
    {% else %}
        {{ site.fatwa.name }}
    {% endif %}
  <span>Published on:</span>
    {% if page.hijri %}
        {{ page.hijri }}
    {% else %}
        {{ site.hijri.name }}
    {% endif %}
    {% if page.date %}
      ( <time datetime="{{ page.date }}">{{ page.date | date: "%B %d, %Y" }}</time> )
    {% endif %}
</div>

{% if page.comments %}
  {% include disqus_comments.html %}
{% endif %}

<div class="pagination">
  {% if page.next.url %}
    <a href="{{ page.next.url | prepend: site.baseurl }}" class="left arrow">&#8592;</a>
  {% endif %}
  {% if page.previous.url %}
    <a href="{{ page.previous.url | prepend: site.baseurl }}" class="right arrow">&#8594;</a>
  {% endif %}

  <a href="#" class="top">Top</a>
</div>
